#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
h4 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 0;
}
p {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, #fafafa 0%, #c6c6c6 100%),
    #ffffff;
}
.sdlogo {
  top: 0;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100vw;
}
.map {
  margin: 20vh auto;
  display: flex;
  justify-content: center;
  max-width: fit-content;
  position: relative;
}

.cruiv {
  position: absolute;
  right: 19.5%;
  top: 53%;
}
.dibrugarh {
  position: absolute;
  right: 28.75%;
  top: 46.5%;
}

.marker:hover {
  outline: 8px solid #e81e256f;
  border: 2px solid #ffffff;
  transition: ease-in-out 0.03s;
  /* width: 1.5rem;
  height: 1.5rem; */
}
.credit {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 100vw;
}
.link {
  color: #595959;
  max-width: fit-content;
  text-align: center;
  margin: 0 auto;
}
.link a {
  color: #0d1117;
}
