#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, #fafafa 0%, #c6c6c6 100%),
    #ffffff;
}
.sdlogo {
  top: 0;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100vw;
}
.map {
  margin: 20vh auto;
  display: flex;
  justify-content: center;
  max-width: fit-content;
  position: relative;
}
.marker {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #e81e25;
  z-index: 100;
  border-radius: 1rem;
}
.m1 {
  right: 140px;
  top: 232px;
}
.m2 {
  right: 200px;
  top: 200px;
}

.marker:hover {
  outline: 8px solid #e81e256f;
  border: 2px solid #ffffff;
  transition: ease-in-out 0.03s;
  /* width: 1.5rem;
  height: 1.5rem; */
}
.credit {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 100vw;
}
.link {
  color: #595959;
  max-width: fit-content;
  text-align: center;
  margin: 0 auto;
}
.link a {
  color: #0d1117;
}
